<div class="team-name-with-actions" *ngIf="teamData && teamData.value">
  <div class="team-name">
    {{teamData.value.teamName}}
  </div>
  <div class="actions">
    <button [matMenuTriggerFor]="teamActionsMenu" (click)="$event.stopPropagation();">
      <span class="material-icons">
        dashboard
      </span>
      Actions
    </button>
    <mat-menu #teamActionsMenu="matMenu">
      <ng-container *ngFor="let action of actions.TEAM_ACTIONS">
        <button (click) = "performTeamActions(action)" [class.actionRed]="action.actionClass === 'action-red'" mat-menu-item *ngIf="action.availableForRoles.includes(getRole())">
          <span class="material-icons">
            {{action.actionMaterialIcon}}
          </span>
          <span>{{action.actionName}}</span>
        </button>
      </ng-container>
    </mat-menu>

  </div>
</div>
<div class="team-dashboard">
  <ng-container *ngIf="teamData && teamData.value">
    <div class="user-card" *ngFor="let member of allMembers.value" (click)="showUserInfo(userData[member])">
      <ng-container *ngIf="(userData[member] | async)">
        <div class="card-header">
          <div class="card-image">
            <ng-container
              *ngIf="(userData[member] | async) && ((userData[member] | async).photoURL) && ((userData[member] | async).displayName)">
              <img src="{{ (userData[member]|async).photoURL }}" alt="{{ (userData[member]|async).displayName }}">
            </ng-container>
            <ng-template #noImage>
              <div class="initials" *ngIf="((userData[member]|async).displayName) ">
                {{ (userData[member]|async).displayName | intials }}
              </div>
            </ng-template>
          </div>
        </div>
        <div class="card-content" *ngIf="(userData[member]|async)">
          <div class="actions" *ngIf="(getRole() === userRole.ROOT || getRole() === userRole.TEAM_LEAD)">
            <button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation();">
              <span class="material-icons">
                more_vert
              </span>
            </button>
            <mat-menu #menu="matMenu">
              <ng-container *ngFor="let action of actions.CARD_ACTIONS">
                <button [class.actionRed]="action.actionClass === 'action-red'" mat-menu-item
                  *ngIf="action.availableForRoles.includes(getRole())" (click)=performAction(action,member)>
                  <span class="material-icons">
                    {{action.actionMaterialIcon}}
                  </span>
                  <span>{{action.actionName}}</span>
                </button>
              </ng-container>
            </mat-menu>
          </div>
          <div class="user-name">
            {{ ((userData[member]|async).displayName)|titlecase }}
          </div>
          <div class="bug-count">
            {{ (teamData.value.userBugInfo[member].bugCounter) | countFormat }}
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>