*
  margin: 0
  padding: 0
  box-sizing: border-box
  outline: 0


html
  font-size: 16px

body
  font-family: -apple-system, 'Helvetica Neue', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif
  min-width: 320px
  min-height: 640px

@media screen and (min-width: 320px)
  html
    font-size: calc(16px + 6 * ((100vw - 320px) / 680))


@media screen and (min-width: 1000px)
  html
    font-size: 22px


// Global Defaults
button
  cursor: pointer !important
  background: 0
  border: 0


.mat-tooltip
  font-size: 12px !important

:root
  --background-color: #03a9f4
  --logo-color: #073347
  --app-name-color: #222222
  --top-nav-background: #222222
  --top-nav-height: 50px
  --login-button-background: #333333
  --side-nav-background: #ffffff
  --side-nav-color: #333333
  --side-nav-separation-background: #dbdbdb
  --side-nav-hover-background: #e5e5e5
  --side-nav-hover-color: #222222



.aggregate-cards
  display: grid
  grid-template-columns: 1fr
  grid-gap: 20px

  .aggregate-card
    height: 120px
    background: #333333
    color: white
    position: relative
    border-radius: 4px

    .card-title
      text-transform: uppercase
      font-weight: 600
      font-size: 14px
      padding: 10px 8px
    .card-value
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      font-size: 44px
      font-weight: 500
      display: flex
      justify-content: center
      align-items: center
      padding-top: 10px

.detailed-cards
  display: flex
  flex-direction: column
  width: 100%
  .detailed-card
    width: 100%
    min-height: 300px
    max-height: 350px
    background: #333333
    overflow: hidden
    border-radius: 4px
    color: white
    display: flex
    flex-direction: column
    .card-title
      text-transform: uppercase
      font-weight: 600
      font-size: 14px
      padding: 20px 16px
      background: #2c2c2c
      margin-bottom: 8px
    .card-value
      padding: 0px 16px
      overflow: auto
      flex: 1
      .no-data
        display: flex
        width: 100%
        height: 100%
        font-size: 16px
        font-weight: 500
        justify-content: center
        align-items: center
        text-align: center

.app-about
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  .icon
    display: flex
    margin-right: 4px
    span
      font-size: 28px
  .app-name
    font-size: 17px
    font-weight: 600

form
  display: flex
  flex-direction: column
  .form-heading
    font-size: 16px
    text-transform: uppercase
    font-weight: 600
    margin-bottom: 32px
    text-align: center

  .mat-form-field
    width: 100%
    font-weight: 500
    font-size: 13.5px
    margin: 3px 0

  button[type=submit]
    background: #333
    color: white
    padding: 16px 8px
    font-weight: 500
    border-radius: 4px
    font-size: 14px
    margin-top: 24px
    &:hover
      transition: all 0.5s ease-in-out
      background: #222

.mat-form-field-infix
  input
    height: unset !important
    padding: 0 !important
    margin: 0 !important
    border-bottom: 0 !important
    box-shadow: unset !important

snack-bar-container
  background: white !important
  .mat-simple-snackbar
    span
      color: #222222 !important
      font-size: 14.5px !important
      font-weight: 600 !important
      width: 100% !important
      text-align: center !important

button.mat-menu-item
  display: flex
  align-items: center
  span
    font-size: 13.5px
    &.material-icons
      font-size: 19px
      margin-right: 14px
      font-weight: 500
  &:focus
    background: 0


button.actionRed
  background: transparentize(red, 0.9)
  span
    color: red
  &:hover
    background: transparentize(red, 0.75) !important

button.matButton
  border: 1px solid #222222
  color: #222222
  font-weight: 500
  font-size: 14px
  padding: 10px 14px
  border-radius: 4px
  &:hover
    transition: all 0.3s ease-in-out
    background: #333333
    color: white

@media screen and (min-width: 500px)
  .user-overview
    .aggregate-cards
      grid-template-columns: repeat(auto-fit,minmax(10px,1fr))
