<div mat-dialog-content class="mat-content">
    <mat-form-field appearance="outline">
        <mat-label>Team Leads</mat-label>
        <mat-select multiple [required]="true" [formControl]="members">
            <ng-container *ngIf="userService.users | async as users">

                <ng-container *ngFor="let user of users">
                    <mat-option *ngIf="showOrNot(user.uid)" [value]="user.uid" [matTooltip]="user.email"
                        [matTooltipPosition]="'before'">
                        <span class="material-icons rootUser" *ngIf="user.role === userRole.ROOT">
                            cake
                        </span>
                        {{user.displayName|titlecase}}
                    </mat-option>
                </ng-container>



            </ng-container>
        </mat-select>
        <mat-error *ngIf="members.invalid">Select Members</mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions class="mat-actions">
    <button class="matButton" mat-button (click)="onNoClick()">Cancel</button>
    <button class="matButton" mat-button [mat-dialog-close]="members.value">Add</button>
</div>