<div class="container">
  <form class = "mt-5">
    <div class="form-group" class = "mt-5">
      <label class = "font-weight-bold" for="url">Enter URL</label>
      <input #urlField placeholder="Enter The URL To Shorten" type="url" class="form-control" id="url" aria-describedby="urlHelp">
    </div>
    <button type="button" class="btn btn-primary mt-3" (click) = "createUrl($event, urlField.value)">Shoren It !</button>
  </form>

  <div class="url-table mt-5">
    <table class="table mt-5 table-striped ">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Minified URL</th>
          <th scope="col">Original URL</th>
          <th scope="col">Count</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf = "urls; else noUrls">
          <tr *ngFor = "let item of urls; let i = index;">
            <th scope="row">{{i + 1}}</th>
            <td>{{item.minifiedUrl}}</td>
            <td><a href = "{{item.originalUrl}}">{{item.originalUrl}}</a></td>
            <td>{{item.count}}</td>
          </tr>
        </ng-container>
        <ng-template #noUrls>
          <td colspan="3" class="mt-5 text-center font-weight-bold">No Urls To Display</td>
        </ng-template>
      </tbody>
    </table>
  </div>

</div>