<div class="full-page-loader" *ngIf="globalService.fullPageLoader.getValue()">
  <app-fulfilling-square-spinner [animationDuration]="4000" [size]="120" [color]="'#ff1d5e'">
  </app-fulfilling-square-spinner>
</div>

<div class="main-content" *ngIf="!globalService.fullPageLoader.getValue()">

  <div *ngIf="(auth.user$ | async) as user; else login">
    <router-outlet></router-outlet>
  </div>


  <ng-template #login>

    <div class="login-page" id="login">

      <div class="login-container">

        <div class="info-site">

          <div class="icon">
            <span class="material-icons">
              bug_report
            </span>
          </div>
          <div class="app-name">
            BugBounty
          </div>
          <div class="desc">
            We don't let silly mistakes pass
          </div>
          <a class="button btn waves-effect waves-teal" (click)="auth.googleSignIn()"><i class="fab fa-google"></i>Sign
            In</a>
        </div>

      </div>

    </div>

  </ng-template>
</div>
